<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655396027836-uvf9a09e9s7qpeap13unefh3u4tshgd7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655396027836-uvf9a09e9s7qpeap13unefh3u4tshgd7</string>
	<key>API_KEY</key>
	<string>AIzaSyCnQUaDwk3PV7T1xx3maKCZRfL8yhJfxaw</string>
	<key>GCM_SENDER_ID</key>
	<string>655396027836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartInPolicy.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>smart-in-policy</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-in-policy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655396027836:ios:f1af185b876a4bb7f3ffb9</string>
</dict>
</plist>